<!DOCTYPE html>
<html>
  <head>
    <title>Project2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header><h1><%= link_to "NBA Teams and Players", root_path%></h1></header>
  <body>

    <%= yield %>
  </body>
</html>

