<!DOCTYPE html>
<html>
  <head>
    <title>Project2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%# to use this move the closing percent backet from last to before closing of h1 %>
    <%# <header><h1 class="test"><%= link_to "NBA Teams and Players", root_path </h1></header> %>
    <header>
    <h1 class="shadow p-3 mb-5 bg-white rounded"><%= link_to "NBA Teams and Players", root_path %></h1>
    <p>
      <%= link_to 'Home', root_path%> |
      <%= link_to 'Players', players_path%> |
      <%= link_to 'Coaches', coaches_path%>
    </p>
    </header>
    <%= yield %>
    <footer>Fullstack Web Dev 2020</footer>
  </body>
</html>

